---
import ServiceCard from "../Card/ServiceCard.astro";
import SectionHeader from "../SectionHeader/SectionHeader.astro";
import { sectionHeader, serviceCards } from "../../content/services.js";
---

<section id="services" class="services" data-aos="fade-up" data-aos-once="true">
  <SectionHeader title={sectionHeader.title} text={sectionHeader.text} />

  <div class="services__content">
    {serviceCards.map((service) => (
      <ServiceCard
        title={service.title}
        link={service.link}
        imageSrc={service.imageSrc}
        colorScheme={service.colorScheme}
      />
    ))}
  </div>
</section>

<style>
  .services {
    margin-top: 140px;
    @media (max-width: 767px) {
      margin-top: 60px;
    }
  }
  .services__header {
    display: flex;
    justify-content: start;
    gap: 40px;
    align-items: center;
    max-width: 700px;
    @media (max-width: 767px) {
      flex-direction: column;
      text-align: center;
    }
  }
  .services__header p {
    text-wrap: balance;
    max-width: 580px;
  }
  .services__content {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr)); /* Wrap dinámico */
    gap: 40px;
  }

  @media (max-width: 769px) {
    .services__content {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>
