---
import { heroContent, heroImages } from "../../content/hero";
---

<section class="hero">
  <div class="hero-wrapper">
    <div class="hero__container hero__container--left">
      <h1>{heroContent.title}</h1>
      <img
        class="img img--mobile"
        src={heroImages.heroImage.mobile}
        alt={heroImages.heroImage.altText}
      />
      <p>{heroContent.subtitle}</p>
      <a href={heroContent.buttonUrl} class="btn btn--black"
        >{heroContent.buttonText}</a
      >
    </div>
    <div class="hero__container hero__container--right">
      <img
        class="img img--desktop"
        src={heroImages.heroImage.desktop}
        alt={heroImages.heroImage.altText}
      />
    </div>
  </div>
  <div class="hero__companies">
    {
      heroImages.logos.map((logo) => (
        <div class="company-logo">
          <img src={logo.imgURL} alt={logo.altText} />
        </div>
      ))
    }
  </div>
</section>

<style>
  .hero {
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
  }

  .hero-wrapper {
    display: flex;
    justify-content: space-between;
    max-height: 515px;
  }
  .hero__container {
    max-width: 500px;
  }
  .hero__container--right {
    display: flex;
    aspect-ratio: 1;
  }
  .hero__container--right .img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .img--mobile {
    display: none;
  }
  .hero h1 {
    font-size: 60px;
    line-height: normal;
    @media (max-width: 767px) {
      font-size: 43px;
    }
  }
  .hero h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

  .hero__container--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    text-wrap: balance;
  }
  .hero__container--left p {
    font-size: 20px;
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  .hero__companies {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 4rem;
  }
  .hero__companies .company-logo {
    display: flex;
  }
  .company-logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  @media (max-width: 1024px) {
  .hero__companies {
    margin-top: 45px;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 22px;
    }
  }
  @media (max-width: 767px) {
    .hero-wrapper {
      flex-direction: column;
      max-height: fit-content;
      margin-bottom: 30px;
    }

    .hero__container--right {
      display: none;
    }
    .img--mobile {
      display: block;
      width: 100%;
    }
    .img--desktop {
      display: none;
    }
    .btn {
      width: 80%;
      margin: 0 auto;
    }
    .hero__companies {
      margin-top: 16px;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 22px;
    }
  }
</style>
