---
// las variables de las propiedades que recibirá el componente
const { title, link, colorScheme, imageSrc } = Astro.props;

const cardClass = colorScheme ? `${colorScheme}` : "card-default";
---


<div class=`service-card service-card--${cardClass}` data-aos="fade-up" data-aos-once="true">
  <div class="service-card__content">
    <h2 class=`label`>
      {title}
    </h2>
    <a href={link} class="learn-more" aria-label="Learn more about {title}">
      <div class="learn-more__icon learn-more__icon--arrow">
        <svg aria-label="Icono de flecha hacia la derecha"
          xmlns="http://www.w3.org/2000/svg"
          width="1em"
          height="1em"
          viewBox="0 0 24 24"
          ><path fill="#fafafa" d="M17.6 18L8 8.4V17H6V5h12v2H9.4l9.6 9.6z"
          ></path></svg
        >
      </div>
      <span> Learn more </span>
    </a>
  </div>
  <div class="service-img">
    <img src={imageSrc} alt="Image representing {title}" loading="lazy" />
  </div>
</div>

<style is:global>
  .service-card {
    display: flex;
    padding-block: 50px;
    padding-inline: 50px;
    border-radius: 50px;
    border: solid 2px black;
    box-shadow: black 2px 3px;
    gap: 1rem;
  }
  .service-card:hover {
    box-shadow: black 2px 6px;
    transition: all 0.2s ease-in-out;
  }
  .service-card--white-green {
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
  }
  .service-card--white-green .label .word {
    border-radius: 8px;
    padding: 3px;
    background-color: var(--color--primary);
  }
  .service-card--black-green {
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
  }
  .service-card--black-green .label .word {
    border-radius: 8px;
    padding: 3px;
    background-color: var(--color--primary);
    color: var(--color-secondary);
  }
  .service-card--green-white {
    background-color: var(--color--primary);
    color: var(--color-secondary);
  }
  .service-card--green-white .label .word {
    border-radius: 8px;
    padding: 3px;
    background-color: var(--color-tertiary);
  }
  .service-card--black-white {
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
  }
  .service-card--black-white .label .word {
    border-radius: 8px;
    padding: 3px;
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
  }

  .service-card h2 {
    text-wrap: balance;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
  .service-card__content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
  }
  .service-img {
    display: flex;
    width: 40%;
  }
  .service-img img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .learn-more {
    font-size: 20px;
    width: fit-content;
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .learn-more:hover {
    text-decoration: underline;
  }
  .learn-more__icon {
    transform: rotate(90deg);
    width: fit-content;
    padding: 4px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  :is(.service-card--white-green, .service-card--green-white)
    .learn-more__icon {
    background-color: var(--color-secondary);
  }

  :is(.service-card--white-green, .service-card--green-white)
    .learn-more__icon
    svg {
    filter: brightness(0) saturate(100%) invert(83%) sepia(33%) saturate(698%)
      hue-rotate(36deg) brightness(107%) contrast(101%);
  }

  :is(.service-card--black-white, .service-card--black-green)
    .learn-more__icon {
    background-color: var(--color-tertiary);
  }
  :is(.service-card--black-white, .service-card--black-green)
    .learn-more__icon
    svg {
    filter: brightness(0) saturate(100%) invert(0%) sepia(5%) saturate(22%)
      hue-rotate(163deg) brightness(102%) contrast(104%);
  }

  .learn-more__icon--green-black {
    background-color: var(--color--primary);
  }
  .learn-more__icon--green-black svg {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(29%)
      hue-rotate(335deg) brightness(104%) contrast(107%);
  }
  .learn-more__icon--green-white {
    background-color: var(--color--primary);
  }
  .learn-more__icon--green-white svg {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(29%)
      hue-rotate(335deg) brightness(104%) contrast(107%);
  }
  .learn-more__icon--black-white {
    background-color: var(--color-secondary);
  }
  .learn-more__icon--green-white svg {
    filter: brightness(0) saturate(100%) invert(94%) sepia(0%) saturate(7474%)
      hue-rotate(115deg) brightness(107%) contrast(107%);
  }
  .learn-more__icon--white-black {
    background-color: var(--color-secondary);
  }
  .learn-more__icon--white-black svg {
    filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(31%)
      hue-rotate(149deg) brightness(91%) contrast(107%);
  }
  @media (max-width: 767px) {
    .service-card {
      flex-wrap: wrap;
      position: relative;
    }
    .service-card__content {
      width: 100%;
    }
    .learn-more {
      position: absolute;
      bottom: 50px;
    }
    .learn-more span {
      display: none;
    }
    .service-img {
      margin-left: auto;
      width: 60%;
    }
  }
</style>

<script>
document.querySelectorAll("h2").forEach((h2) => {
  const words = h2.textContent.trim().split(" ").filter(word => word !== ""); // Elimina espacios adicionales
  h2.innerHTML = words
    .map((word) => `<span class="word">${word}</span>`)
    .join(" "); // Une las palabras con un espacio
});
</script>
